@model VehicleTracker.Api.ViewModel.HomeVm

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vehicle Tracker</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <script>
        var authParams = @Html.Raw(Model.AuthConfigurationJson);
    </script>
</head>

<body>
    <div id="app"></div>
</body>

</html>